name: Build

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  build-void:
    name: Build
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        go-version: ['1.20', '1.21', '1.22']

    container:
      image: 'voidlinux/voidlinux:latest'

    steps:
      - name: Prepare container
        run: |
          # Redefine current main repo mirror
          echo 'repository=https://repo-default.voidlinux.org/current' > /usr/share/xbps.d/00-repository-main.conf
          # Update system xbps
          xbps-install -Syu xbps
          # Update system
          xbps-install -Syu
          # Install dependencies
          xbps-install -y git make gcc pam-devel libX11-devel

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout
        uses: actions/checkout@v4

      - name: Git Safe Directory
        run: git config --global --add safe.directory /__w/emptty/emptty

      - name: Test without tags
        run: make test

      - name: Test with noxlib tag
        run: make test TAGS=noxlib

      - name: Test with noutmp tag
        run: make test TAGS=noutmp

      - name: Test with nopam tag
        run: make test TAGS=nopam

      - name: Build with noxlib tag
        run: |
          # Make clean
          make clean
          # Make build
          make build TAGS=noxlib

      - name: Build with noutmp tag
        run: |
          # Make clean
          make clean
          # Make build
          make build TAGS=noutmp

      - name: Build with nopam tag
        run: |
          # Make clean
          make clean
          # Make build
          make build TAGS=nopam

      - name: Build without tags
        run: |
          # Make clean
          make clean
          # Make build
          make build

      - name: Test install-pam
        run: make install-pam

      - name: Test install-manual
        run: make install-manual

      - name: Test install-config
        run: make install-config

      - name: Test install-runit
        run: make install-runit

      - name: Test install-motd-gen
        run: make install-motd-gen

      - name: Test install
        run: make install

      - name: Test uninstall
        run: make uninstall
